@font-face {
    font-family: "Oswald-semibold";
    src: url(../assets/fonts/Oswald-SemiBold.ttf);
}

@font-face {
    font-family: "Oswald-Light";
    src: url(../assets/fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: "Oswald-Regular";
    src: url(../assets/fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: "Georgia";
    src: url(../assets/fonts/Georgia.ttf);
}

:root {
    --brandRed: #dc0000;
    --brandBlue: #003eb1;
}

.social-media-icons img {
    width: 30px !important;
}
.social-media-icons a{
    margin-right: 10px;
}

.brand-button {
    background: transparent;
    color: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    padding: 5px 18px;
    border-radius: 3px;
    font-weight: 300;
    transition: all 1s;
    border-image-source: linear-gradient(to left, var(--brandBlue), var(--brandRed));
}

.brand-button:hover {
    border-image-source: linear-gradient(90deg, var(--brandBlue), var(--brandRed));

}

header nav {
    opacity: 0;
    background-color: #fff !important;
}

header.sticky nav {
    opacity: 1;
    background-color: #fff !important;
}

.header-social-icon {
    display: flex !important;
}

.header-social-icon img {
    width: 20px;
    margin-left: 10px;
}

.brand-red {
    color: var(--brandRed);
    text-transform: capitalize !important;
}

.brand-blue {
    text-transform: capitalize !important;
    color: var(--brandBlue);
}

.tp-caption .alt-font {
    color: #fff;
    text-shadow: 2px 2px 15px #000000a9;
}

.plus-decoretor::after {
    content: "+";
}

p,
.title-p {
    font-family: "Georgia";
    text-transform: unset;
}

.title {
    font-size: 60px;
}

.alt-font {
    font-family: "Oswald-Regular" !important;
}

.brand-numbers span {
    font-family: "Georgia";
}
.brand-numbers h6{
    font-size: 40px;
}

.services {
    background-image: linear-gradient(90deg, #0b0b0b, #1c1c1c);
}
.logos-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logos-wrap img{
    width: 100px;
    cursor: pointer;
    transition: 0.2s;
}
.logos-wrap img:hover{
    scale: 1.1;
}
.services img {
    width: 80px;
}

.services-2 {
    margin: 30px;
}

.services .heading .title {
    line-height: normal;
}

.services .bg-white .alt-font {
    font-family: "Oswald-semibold";
    font-weight: normal;
}

.services .red .feature-box-overlay {
    height: 5px;
    background: var(--brandRed);
}

.services .blue .feature-box-overlay {
    height: 5px;
    background: var(--brandBlue);
}

.services .red .feature-box-8:hover .feature-box-overlay {
    background: var(--brandBlue);
}

.services .blue .feature-box-8:hover .feature-box-overlay {
    background: var(--brandRed);
}

q::before {
    color: var(--brandBlue);
}

q::after {
    color: var(--brandRed);
}

.quote h5 {
    font-family: "Oswald-SemiBold";
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #ffd5d5;
}

.quote h3 {
    font-size: 65px;
}

.quote-section {
    font-family: "Oswald-SemiBold";
    text-align: center;
    color: #000;
    background-image: url(/assets/home_images/MarqSet_Icon.png);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0;
}

.hexagon-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.counter-feature-box-1 {
    background: unset !important;
    border: 0 solid #fff !important;
    transition: 0.4s;
}



.counter-feature-box-1 span {
    font-weight: normal;
}

.card-outer {
    margin: 30px 0;
    background-color: transparent;
}

.card-outer h5 {
    font-size: 16px;
    color: #000;
    margin-top: 30px;
    font-family: "Georgia";
}

.card-inner {
    background: transparent;
    width: 190px;
    height: 220px !important;
    color: #fff;
    background-size: cover;
}

.card-inner.card-1 {
    background-image: url(/assets/home_images/Polygon_1.png);
}

.card-inner.card-2 {
    background-image: url(/assets/home_images/Polygon_2.png);
}

.card-inner.card-3 {
    background-image: url(/assets/home_images/Polygon_3.png);
}

.card-inner.card-4 {
    background-image: url(/assets/home_images/Polygon_4.png);
}

.card-inner .alt-font {
    color: #fff;
}

.testimonials .swiper-slide .alt-font {
    color: var(--brandBlue);
}

.testimonials i {
    color: var(--brandRed);
}

.testimonials .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 105px;
    position: unset;
}

.testimonials .text-dark {
    color: #000 !important;
}

.testimonials .swiper-slide p {
    height: 220px;
}

.title-s {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Oswald-SemiBold";
}

.contact img {
    max-width: 70px !important;
    margin-bottom: 10px;
}

footer .small-icon img {
    width: 20px;
}

@media (max-width: 891px) {
    .title {
        font-size: 30px;
    }

    .title-s {
        font-size: 15px;
    }

    .quote h5 {
        font-size: 18px;
    }

    .services-2 {
        margin: 0px;
    }

    .quote h3 {
        font-size: 30px;
    }

    .testimonials p {
        height: auto;
    }
}